<br>
<div class="card card-body bg-light">

<%= form_with(model: @todo, local: true) do |f| %>
    <h3 class= text-center> EDITAR TAREA</h3>
    <br>
    <h4>Ingrese cambios a su tarea</h4>
    <br>
    <div class= 'form-group'>
        <%= f.label 'Descripción: ' %>
        <%= f.text_field :description %>
    </div>
    
    <div class= 'form-group'>
        <%= f.check_box :completed %> <%= f.label :completed, '¿Completado?'%>  
    </div>
    
    <div class= 'form-group'>
        <%= f.submit 'Guardar cambios' %>
    </div>

<% end %>

</div>
<br>

<%= link_to  "Regresar", todos_path, class: 'btn btn-primary'  %>
