<h3 class= text-center >INDEX</h3>

<% @todos.each do |todo| %>
    <div class="card card-body bg-light">
        <%= todo.description%>
        <% todo.completed%>
        <%= link_to  "Mostrar", todo %>
        <%= link_to  "Editar", edit_todo_path(todo) %>
        <%= link_to  "Borrar", todo, method: :delete %>
        <%= link_to  "Completar", complete_todo_path(todo) %>

    </div>
    <br>
<% end %>

<%= link_to  "Crear", todos_new_path %>
